html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.squares {
  position: relative;
}

.gradient{
  position: absolute;
/*   border-radius: 50%; */
  background: conic-gradient(rgba(255,0,0,0.5), rgba(0,255,0,0.5), rgba(0,0,255,0.5));
  
  animation-duration: 1s;
  animation-name: rotator;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

p {
  animation-duration: 3s;
  animation-name: rotator;
}

@keyframes rotator {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}